@import "variables";
@import "functions";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  font-family: $font-stack;
  color: $dark-color;
  line-height: 1.5;
}

header {
  background: $dark-color;
  color: set-text-color($dark-color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

// Section
.section {
  padding: 3rem;

  h3 {
    font-size: 2rem;
  }

  &-a {
    background: $primary-color;
    color: set-text-color($primary-color);
  }

  &-b {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  transition: 0.3s ease-in-out;
}

.btn {
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: set-text-color($light-color);

    &:hover {
      @include transform(scale(1.1));
      background: darken($light-color, 20%);
    }
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: set-text-color($dark-color);

    &:hover {
      @include transform(scale(-1.1));
      background: lighten($dark-color, 20%);
    }
  }
}
